# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Misc
assets/js/dist

Gemfile.lock

# 내가 설정
./assets/lib/project/react/todoList/package.json
./assets/lib/project/react/todoList/package-lock.json
./assets/lib/project/react/todoList/README.md
./assets/lib/project/react/todoList/src/index.js
./assets/lib/project/react/todoList/src/index.css
./assets/lib/project/react/todoList/src/logo.svg
./assets/lib/project/react/todoList/src/reportWebVitals.js
./assets/lib/project/react/todoList/src/setupTest.js
./assets/lib/project/react/todoList/src/App.test.js
./assets/lib/project/react/todoList/public/
