---
layout: default
refactor: true
---

{% include lang.html %}

<div id="page-books" class="flex-grow-1 px-xl-1">
  <header class="books-header my-5">
    <h1>책 리뷰</h1>
  </header>

  <!-- 책 리뷰 아이템 -->
  <section class="books-items">
    <!-- Technical Books -->
    <div class="technical-books mb-5">
      <h2>기술 서적</h2>
      <div class="posts">
        {% for post in site.categories['technical-books'] %}
        <article class="post-preview">
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <p class="summary">{{ post.excerpt }}</p>
        </article>
        {% endfor %}
      </div>
    </div>

    <!-- Non-fiction Books -->
    <div class="non-fiction-books mb-5">
      <h2>논픽션</h2>
      <div class="posts">
        {% for post in site.categories['non-fiction-books'] %}
        <article class="post-preview">
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <p class="summary">{{ post.excerpt }}</p>
        </article>
        {% endfor %}
      </div>
    </div>

    <!-- Fiction Books -->
    <div class="fiction-books mb-5">
      <h2>소설</h2>
      <div class="posts">
        {% for post in site.categories['fiction-books'] %}
        <article class="post-preview">
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <p class="summary">{{ post.excerpt }}</p>
        </article>
        {% endfor %}
      </div>
    </div>
  </section>
</div>

{% if paginator.total_pages > 1 %} {% include post-paginator.html %} {% endif %}
