---
layout: default
---
  <!--<body>
  <div class="container">
    <div>
      <header id="intro">

        <h1><a href="./index.html">여기는 intro</a></h1>

        <nav class="gnb_area">
          <div id="gnb_list" class="gnl_list_box"></div>
          <ul>
            <li class="one"><a href="./coding.html" target="_blank" data-title="개발 공부"><span
                  class="ico">home</span></span></a></li>
            <li class="two"><a href="./folder2/myinfo.html">Introduce</a></li>
            <li class="three"><a href="./folder3/extra.html">Introduce</a></li>
            <li class="four"><a href="./ex.html">예시 페이지</a>
            </li>
          </ul>
        </nav>

      </header>
    </div>

    <main role="main" id="main">
      <div class="nav_lnb" style="width: 250px">


      </div>
      <article class="text">
        <p>안녕하세요</p>
        <p>여기는 article.text</p>

      </article>

      <article class="one">
        <b>hello</b>
        <p>여기는 article.one</p>
        <script src="sample.js"></script>
      </article>

      <article class="two">
        <p>i'm q</p>
        <ol>
          <li>1994.01.25.</li>
        </ol>
        <p>여기는 article.two</p>
      </article>

      <article class="three">
        <p>personal log</p>
        <p>여기는 article.three</p>
      </article>

    </main>

    <footer id="footer">
      <div class="contact">
        <p>contact: amysun125@gmail.com</p>
      </div>

    </footer>

  </div>
</body>
--></html>
