---
layout: page
title: Troubleshooting Posts
---

<div id="page-troubleshooting">
  <h1 class="pl-lg-2">
    <i class="fa fa-tag fa-fw text-muted"></i>
    {{ page.title }}
  </h1>

  <ul class="post-content pl-0">
    {% assign filtered_posts = site.posts | where_exp: "item", "item.tags
    contains 'troubleshoot'" %} {% for post in filtered_posts %}
    <li class="d-flex justify-content-between pl-md-3 pr-md-3">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      <span class="dash flex-grow-1"></span>
      {% include datetime.html date=post.date wrap='span' class='text-muted
      small' %}
    </li>
    {% endfor %}
  </ul>
</div>
