// _learning_log.scss
#page-learning-log {
  .learning-log-header {
    margin-bottom: 2rem;
    text-align: center;

    h1 {
      font-size: 2.5rem;
      color: $primary-color;
    }

    p {
      font-size: 1rem;
      color: $secondary-text-color;
    }
  }

  .learning-log-items {
    .today-learned,
    .deep-dives,
    .troubleshooting {
      margin-bottom: 2rem;

      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      .posts {
        .post-preview {
          margin-bottom: 1rem;

          h3 {
            font-size: 1.25rem;
            a {
              color: $text-color;
              &:hover {
                color: color.adjust($text-color, 10%);
              }
            }
          }

          .summary {
            font-size: 1rem;
            color: $secondary-text-color;
          }
        }
      }
    }
  }
}
